<h1><%= @genre.name %></h1>

	<ol class="covers">
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-6.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
		<li><a href="to netflix"><img src="http://cdn-0.nflximg.com/us/boxshots/large/70181716.jpg" /></a></li>
	</ol>
