<% content_for :page_title, @genre.name + " on Netflix" %>
<h1><%= words_links(@genre.words) %></h1>

<% if @genre.movies_count > 0 %>
	
	<ol class="covers">
    <% @genre.movies.each do |movie| %>
  		<li>
        <%= link_to movie_path(movie) do %> 
          <%= image_tag movie.cover_url %>
        <% end %>
      </li>
    <% end %>
	</ol>

<% else %>

	<p class="lead">Bum. No movies here. <a href="/" class="scramble">Respawn</a>?</p>
	
	<p>Please note that you're looking around a static dataset. As much as we would <em>love</em> to show all the movies in Netflix ever, there's no way for us to do it. This is sorta kinda more about finding fun genres anyway. Ciao!</p>

<% end %>