<h1><%= @movie.name %></h1>

<%= image_tag @movie.cover_url %>

<h3><a href="#">View on Netflix</a> (You need to be logged in there.)</h3>

<p><%= @movie.name %> is in these genres:</p>

<ol>
  <% @movie.genres.order(:name).where("movies_count > 4").each do |genre| %>
    <%= render genre, current_word: nil %>
  <% end %>
</ol>