<h1><%= @movie.name %></h1>

<%= image_tag @movie.cover_url %>

<h2>In these genres</h2>

<ol>
  <% @movie.genres.order(:name).where("movies_count > 4").each do |genre| %>
    <%= render genre, current_word: nil %>
  <% end %>
</ol>