<h1><%= @movie.name %></h1>

<%= image_tag @movie.cover_url %>

<p><b><a href="#">View on Netflix</a></b> (You need to be logged in there.)</p>

<h2><%= @movie.name %> is in these genres:</h2>

<ol>
  <% @movie.genres.order(:name).where("movies_count > 4").each do |genre| %>
    <%= render genre, current_word: nil %>
  <% end %>
</ol>