<% content_for :page_title, "Netflix-o-matic from Good, Form & Spectacle" %>
<h1>Discover movies you've never even heard of... </h1>
<ol>
	<% @genres.each do |genre| %>
    <%= render genre, current_word: nil %>
	<% end %>
</ol>

<p><%= link_to root_path, class: 'scramble' do %>Again! Again!<% end %></p>