body {background-color: #f5f5f5; color: #aaa; font-family: "adriane",serif; font-size: 2em; padding-bottom: 40px;}
a {color: #18BDC8; text-decoration:none; }
a:hover, a.rawr:hover, .genre.hover, .genre.hover a {color: white; text-decoration: none; background-color: #df1301; }
a.rawr {color: #df1301;}
ol {list-style: none;}
ol.covers {list-style: none; margin-top:10px;}
.covers li {float:left; width:180px; height:240px; margin-right: 5px; margin-bottom: 10px;}
.nav {color: #555; font-size: .75em; background-color: #eee;}
.nav a {color:#333;}
.nav a:hover {color:#fff;}
.nav a.scramble {color: white; text-decoration: none; background-color: #df1301; padding-left: 3px; padding-right: 3px;}
.pad {padding-top:18px;}
.by p {text-align:right;}

a.genre-link {font-weight:bolder;color: white; text-decoration: none; background-color: #df1301;padding-left:3px; padding-right:3px;}