<html>
  <head>
    <title>Netflix Explorer by Good, Form &amp; Spectacle</title>
    <meta name="creators" value="George Oates, Paul Mison, Nick Sweeney">
    <meta name="description" value="Brought to you by Good, Form &amp; Spectacle, the Netflix-Genrenator is a way to find the darker corners of the Netflix genre universe.">
    <%= javascript_include_tag "application" %>  
    <%= stylesheet_link_tag 'gfs-netflix.css' %>
  </head>

  <body>

    <%= yield %>

    <div class="logo">
      <a href="http://goodformandspectacle.com" title="Brought to you by Good, Form &amp; Spectacle"><img src="https://pbs.twimg.com/profile_images/479746008834772992/7lMTtP39_400x400.png" /></a>
      <div class="nav"><a href="/about">About</a> | <a href="/">Scramble</a></div>
    </div>

  </body>
</html>