<html>
<head>
  <title>Netflix Explorer by Good, Form & Spectacle</title>
  <meta name="creators" value="George Oates, Paul Mison, Nick Sweeney">
  <meta name="description" value="Brought to you by Good, Form & Spectacle, the Netflix-Genrenator is a way to find the darker corners of the Netflix genre universe.">
  <link href="gfs-netflix.css" media="all" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag 'gfs-netflix.css' %>
</head>

<body>

  <%= yield %>

</body>